<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo" id="titre-header">App chatons</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{ path('Home_Pages') }}">Home</a></li>
            <li><a href="{{ path('chaton_list') }}">chatons</a></li>
            <li><a href="">About Us</a></li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li><a href="">Home</a></li>
    <li><a href="">test</a></li>
    <li><a href="">About Us</a></li>
</ul>
<script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
    });
    $(".dropdown-trigger").dropdown();
</script>