{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block main %}

    <h3 class="center-align">Pages du panier</h3>

    <table>
        <thead>
            <tr>
                <th>Mon panier</th>
            </tr>
        </thead>
        <tbody>
            {% for p in myPanier %}
                <tr>
                    <td>{{ p }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
