{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block main %}

    <h3 class="center-align">Pages du panier</h3>

    <div class="container">
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prix</th>
                <th colspan="2">action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in myPanier.cats %}
                <tr>
                    <td>{{ p.name}}</td>
                    <td>{{ p.price }}</td>
                    <td><a href="#"><i class="material-icons small"></i></a></td>
                    <td><a href="#"><i class="material-icons small">close</i></a></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
        <div class="center-align">
            <h5>Total prix :</h5>
        </div>
    </div>
{% endblock %}
