{% extends('base.html.twig') %}

{%  block main %}

    <div class="container">
        <h3 class="center-align">{{ detailId[0].name }}</h3>

        <p> {{ detailId[0].description }}</p>



    </div>

{% endblock %}